# Ignore WordPress core files
wp-admin/
wp-includes/
wp-config.php

# Ignore uploads (media)
wp-content/uploads/

# Ignore Docker DB volume
db_data/

# Ignore env & OS files
.env
.DS_Store
Thumbs.db
.vscode/
